.carousel-container {
  display: flex;
  overflow: hidden;
}

.carousel-slide {
  min-width: 100%;
  transition: transform 1s ease;
  opacity: 0;
}

.carousel-slide.active {
  opacity: 1;
}

img {
  /* width: 100%; */
  height: 400px;
}
