@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JUSTICE LEAGUE";
  font-style: normal;
  font-weight: 400;
  src: local("JUSTICE LEAGUE"),
    url("assets/fonts/JUSTICELEAGUE.ttf") format("woff");
}
@font-face {
  font-family: "Mokoto";
  font-style: normal;
  font-weight: 400;
  src: local("Mokoto"), url("assets/fonts/Mokoto.ttf") format("woff");
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10%);
  }
}

.animate-marquee {
  animation: marquee 5s linear infinite;
}
